@media screen and (max-width: 480px) {     
}
/* Style the main structure */
 header {
    font: 600 1em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .225em 2.5em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,201,57,.6);


/* Clip Background Image */

      background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;

/* Animate Background Image */

      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
 
@keyframes scale2 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

nav{
    padding: .625em 3.5em;
    background-color: white;
    list-style-type:none;
}

nav a{
    text-decoration:none;
    color: white;
    background-color: skyblue; 
    border-right: 1px solid white;
    border-style:dotted; 
    font-size: 1em;
    float: left;
    padding: .325em 2.5em;
    
}



aside{
    float:left;
    width:30%;
    font-size:10px ;
    font-style:italic;
    color:red;
    border-style:dotted; 
}

footer{
    clear: both;
    color: green;
    background-color: white;
}

.survey_color{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

.colorc{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#ffde22;
    color: white;
    margin: auto;
    width:100%;
}

/* Style division.css*/
#jobs2{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:70%;
  padding: 8px;
  animation: rotate_image 6s linear infinite,scale2 6s linear infinite;
  transform-origin: 50% 50%;
}

/* Clearfix (clear floats) */
.row:after {
  clear: both;
  display: table;
}

span{
    text-shadow: #aaa 2px 2px 2px;
    text-align: left;
    font-size: 40px;
}

div{
     text-shadow: #aaa 2px 2px 2px;
     text-align: left;
}

/* Style the navigation bar */
a:hover{
    background-color: white;
}

ul{
    list-style-type: square;
    font-family: "Lucida Console", "Courier New", monospace;
}

ol ul{
    list-style-type: square;
}

/* Group*/
div,footer,span,a,h3{
    font-family: "Lucida Console", "Courier New", monospace;
}

h2,p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2em;
}

article{
    float: left;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Style form elements */
legend,label{
     font-family: "Lucida Console", "Courier New", monospace;
     font-size: 15px;
}

fieldset{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 8px;
}

table{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size:1em;
    border: 1px solid #999;
}
